*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #99999935;
  height: 100dvh;
}
body::-webkit-scrollbar{
  display: none;
}
li {
  list-style: none;
}
a{
  color: #111;
  text-decoration: none;
}



a:hover{
  text-decoration: underline;
}
button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.post-form {
  margin-bottom: 20px;
}

.posts {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.post {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.mobile {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid gray;
}
.top {
  background-color: #b92b27;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 13px;
  color: white;
  height: 3.5rem;
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 3.5rem;
}
#menuList {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
#menuList > li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
span > .material-symbols-outlined{
  font-size: 1rem;
}
button > .material-symbols-outlined {
  height: 100%;
  font-size: 1.8rem;
  color: rgb(116, 116, 116);
  padding: 0;
  margin: 0;
}
.iconText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 100%;
  margin-right: 5px;
}
.iconText img{
  width: 7rem;
  height: 3rem;
}
h1 {
  margin: 0;
}
.search-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 1px;
  font-weight: 300;
  font-size: 0.97rem;
  letter-spacing: 1px;
}
.search-container .material-symbols-outlined{
  font-size: 1.3rem;
  padding-right: 0.2rem;
}
.add-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 3px;
  margin-right: 0.7rem;
  font-weight: 300;
}
.add-container .material-symbols-outlined{
  font-size: 1.3rem;
  padding-right: 0.2rem;
}
.tablet {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 3.5rem;
  overflow: hidden;
  box-shadow: 0px -2px 17px 1px rgba(0, 0, 0, 0.081);
  /* padding: 0 5rem; */
}
.tablet > img {
  object-fit: cover;
}
#menuListTablet {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}
#menuListTablet > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

#menuListTablet > li {
  margin: 0 0.5rem;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

#menuListTablet > li:hover {
  height: 92%;
  border-bottom: 3px solid #b92b27;
  background-color: #d6d6d63a;
  /* border-radius: 8px; */
}
.search-container_tab {
  padding: 0.6rem 0;
  margin: 0 0.1rem;
  width: 10rem;
}
.add-container_tab {
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.8rem;
  flex-wrap: nowrap;
  justify-content: center;
  color: rgba(116, 116, 116, 0.678);
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.355);
  border-radius: 5px;
}
.search input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
}
.add {
  display: flex;
  flex-wrap: nowrap;
  background-color: #b92b27;
  font-weight: bold;
  color: white;
  width: 9rem;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.home {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}
.home .left {
  /* border: 1px solid #111; */
  height: 70vh;
  width: 25%;
  margin: 0.6rem;
}
.home .middle {
  /* border: 1px solid #111; */
  margin: 0.6rem;
  height: calc(100vh - 5.5rem);
  margin-bottom: 0;
  width: 40%;
  margin-right: 0;
  overflow-y: scroll;
}
.home .middle::-webkit-scrollbar{
  display: none;
}


.right {
  height: 70%;
  width: 25%;
  margin: 0.6rem;
  /* padding: 0.5rem; */
  /* border-radius: 10px;
  background: white;
  overflow: scroll; */
}
.right .rightdata{
  /* height: 70%; */
  width: 20dvw;
  /* margin: 0.6rem; */
  padding: 0.5rem;
  border-radius: 10px;
  background: white;
  /* overflow: scroll; */
}
.news {
  width: 50%;
  display: flex;
  height: 2.5rem;
  position: relative;
  background-color: white;
  align-items: center;
  padding: 0 0.7rem;
}
.news h4{
  font-size: 1.2rem;
  font-weight: 600;
  color: #666;
}
.right-box {
  height: 80%;
  padding: 1rem 0;
  overflow: scroll;
}

.right-box > ul > li > p {
  margin-bottom: 4px;
}



.left .menu,
.left .menu-links {
  display: flex;
  justify-content: right;
  /* padding-right: 1rem; */
}
.left .menu .menubar {
  padding: 0.5rem;
  padding-right: 0;
  padding-top: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid #999;
}
.left .menu-links .links {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
}
.left .menu .menubar .menu-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  justify-content: flex-start;
  padding: 0.7rem;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 0.2rem;
}
.left .menu-links .links .link {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  justify-content: flex-start;
  padding: 0.2rem;
  /* border-radius: 3px; */
  cursor: pointer;
}
.left .menu .menubar .menu-btn:hover {
  background-color: #b6b5b572;
}
.left .menu .menubar .active{
  background-color: #dbdada74;
}
.left .menu .menubar .menu-btn .menu-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  color: #686767;
}
.left .menu .menubar .menu-btn i {
  padding-right: 0.4rem;
  color: #686767;
}
.left .menu-links .links .link a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #686767;
  letter-spacing: 1px;
}
.left .menu-links .links .link a span:hover {
  text-decoration: underline;
}
.right::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}




.dialog{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  z-index: 100;
}
.dialog .dialogContent{
  height: 100%;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  background-color: white;
}

#dialogClose{
  position: relative;
  cursor: pointer;
}





.middle .question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 17%;
  margin: 1rem 0;
  margin-top: 0;
  border-radius: 6px;
  padding: 2px;
  /* background-color: #5e5d5d7e; */
  background-color: #fff;
}
.middle .question .top-ques{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
.middle .question .top-ques .user-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-size: 2.5rem;
  color: #999;
  cursor: pointer;
}
.middle .question .top-ques .user-ques{
  width: 90%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e9e8e888;
  border: 1px solid #9b9898;
  margin: 0 0.4rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.middle .question .top-ques .user-ques:hover{
  background-color: #cac9c97e;
}
.middle .question .top-ques .user-ques p{
  padding-left: 1rem;
  color: #666;
}
.middle .question .ques-btns{
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.4rem;
}
.middle .question .ques-btns .ask-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 2rem;
  border-right: 1px solid #999;
  cursor: pointer;
}
.middle .question .ques-btns .ask-btn:hover{
  background-color: #dedddd6e;
}
.middle .question .ques-btns .ask-btn i{
  padding-right: 0.5rem;
  color: #999;
}
.middle .question .ques-btns .ask-btn h5{
    color: #444;
    font-weight: 200;
}
.middle .question .ques-btns .bordend{
  border-right: none;
  margin-right: 1rem;
}
.middle .question .ques-btns .bordstart{
  margin-left: 0.7rem;
}

.middle .post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  /* height: 15%; */
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  /* background-color: #5e5d5d7e; */
  background-color: #fff;
}
.middle .post .pt{
  display: flex;
  width: 100%;
}
.middle .post .post-top{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5rem;
}
.middle .post .post-top .posttop-user{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3px;
  /* width: 10%; */
  font-size: 2.7rem;
  margin-right: 0.3rem;
  color: #999;
  cursor: pointer;
}
.middle .post .post-top .posttop-name{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
.middle .post .post-top .posttop-name h5{
  margin: 0.2rem;
  font-size: 0.8rem;
}
.middle .post .post-top .posttop-name span{
  color: #2e69ff;
}
.middle .post .post-top .posttop-name span:hover{
  text-decoration: underline;
}
.middle .post .post-top .posttop-name .posttopname-desig p{
  margin: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
  color: #666;
}
.middle .post .post-top .posttop-name .posttopname-desig span{
  color: #666;
}
.middle .post .post-top .posttop-close{
  font-size: 1.3rem;
  right: 1rem;
  margin: 0;
  cursor: pointer;
}
.middle .post .post-top .posttop-close i{
  border-radius: 50%;
  padding: 0.3rem;
  transition: all 0.2s ease-in-out;

}
.middle .post .post-top .posttop-close i:hover{
  background-color: #dadada7a;
}

.middle .post .post-mid{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: flex-start; */
  width: 100%;
  margin-left: 0.8rem;
}
.middle .post .post-mid .postmid-ques{
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
  cursor: pointer;
}
.middle .post .post-mid .postmid-ans{
  line-height: 1.4rem;
  padding-right: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  color: #555;
  cursor: pointer;
}
.middle .post .post-mid .postmid-image{
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.middle .post .post-end{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.middle .post .post-end .postend-likes{
  display: flex;
  flex-direction: row;
  margin-left: 0.3rem;

}
.middle .post .post-end .postend-likes .postendlikes-like{
  display: flex;
  flex-direction: row;
  height: 2.2rem;
  /* padding: 0.3rem; */
  border-radius: 50px;
  border: 1px solid #bbbbbb69;
  background-color: #e5e5e549;
}
.middle .post .post-end .postend-likes .postendlikes-like .upvote{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.9rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: 1px solid #bbbbbb69;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.middle .post .post-end .postend-likes .postendlikes-like .upvote:hover{
  background-color: #c8c8c831;
}
.middle .post .post-end .postend-likes .postendlikes-like .upvote i{
  font-size: 1.2rem;
  padding-right: 0.2rem;
  color: #2e69ff;
}
.middle .post .post-end .postend-likes .postendlikes-like .upvote h5{
  color: #767676;
  font-weight: 600;
}
.middle .post .post-end .postend-likes .postendlikes-like .downvote{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0 0.7rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #767676;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* border-right: 1px solid #777; */
}
.middle .post .post-end .postend-likes .postendlikes-like .downvote:hover{
  background-color: #c8c8c831;
}
.middle .post .post-end .postend-likes .postendlikes-comment{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.4rem;
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */
  border-radius: 50px;
  margin-left: 0.7rem;
  color: #767676;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.middle .post .post-end .postend-likes .postendlikes-comment:hover{
  background-color: #c8c8c831;
}

.middle .post .post-end .postend-likes .postendlikes-share{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.4rem;
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */
  border-radius: 50px;
  margin-left: 0.5rem;
  color: #767676;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.middle .post .post-end .postend-likes .postendlikes-share:hover{
  background-color: #c8c8c831;
}

.middle .post .post-end .postend-menu{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.4rem;
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */
  border-radius: 50px;
  margin-left: 0.5rem;
  color: #767676;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.middle .post .post-end .postend-menu:hover{
  background-color: #c8c8c831;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: flex;
  }
  .dialog{
    padding: 10rem 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  #menuListTablet > li {
    margin: 0 0.5rem;
    padding: 0 0.7rem;
  }
  .search-container_tab {
    width: 15rem;
    margin: 0 2rem;
  }
  .add {
    width: 10rem;
  }
  .dialog{
    padding: 5rem 20rem;
  }
}
@media only screen and (max-width: 768px) {
  .left {
    display: none;
  }
  .home{
    padding: 0.8rem;
  }
  .home .middle {
    width: 100%;
    margin-bottom: 1rem;
  }
  .home .right {
    display: none;
  }
  .home .middle{
    margin: 0;
  }
  .middle .question{
    margin: 0;
    height: 14%;
  }
  .top-ques{
    padding: 0 5px;
    margin: 0;
  }
  .user-ques{
    margin: 0 0.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home .left {
    display: block;
  }
  .home .middle {
    width: 70%;
    margin-bottom: 1rem;
  }
  .home .right {
    display: none;
  }
  .middle .question{
    margin: 0;
    height: 11%;
  }
}